body { font-family: Arial, sans-serif; }
.item { margin-bottom: 15px; }
.quantity { width: 40px; text-align: center; }
#passwordSection { margin-bottom: 20px; }
#inventorySection, #addSection { display: none; }

/* Styles pour le logo en haut à droite */
.logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px; /* Ajustez la taille du logo selon vos besoins */
    height: auto;
    margin: 10px; /* Optionnel : ajoute un peu d'espace autour du logo */
}

